.btn {
    font-size: 0.7rem;
    color: $lightColor;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 0.4rem 0.2rem;
    &:hover {
        cursor: pointer;
        transition: background-color 0.4s ease;
        background: $DeleteHover
    }
&_edit{
    background: $accentColor_hover;
    margin: 0rem 1rem;

    &:hover {
        color:white;
        background: $darkColor
    }
}
&_save{
    background: $rightColor;
    height: 3rem;
    padding: 0.5rem 0.6rem;

    &:hover {
        color:white;
        background: $rightColorHover;
    }
}
&_cancel{
    margin-left: 1rem;
    padding: 0.7rem 0.2rem;
    height: 3rem;
}     

}