$defaultColor: #4dcdc4;
$defaultColor_hover: #2baba0;
$baseColor: #f693bc;
$accentColor: #c3c0b4;
$accentColor_hover:#f6bf08;
$darkColor: #573f07;
$lightColor: #ffffff;
$DeleteColor: #ed1212;
$DeleteHover: #641414;
$rightColor:#198708;
$rightColorHover:#0e3608;