$defaultColor: #c5f7d9;
$defaultColor_hover: #0a934e;
$baseColor: #f693bc;
$accentColor: #c3c0b4;
$accentColor_hover:#f6bf08;
$darkYelow: #987012;
$lightColor: #ffffff;
$DeleteColor: #ed1212;
$DeleteHover: #641414;
$rightColor:#198708;
$rightColorHover:#0e3608;
$headerground:#01422c;