.footer {
    background-color: $headerground;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
padding-left: 1rem;
position: fixed;
width: 100%;
bottom: 0;
}