.table {
    width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
margin: 2% auto;
margin-bottom: 1%;
border: 2px solid $defaultColor_hover;

    &__header {
        text-align: center;
        padding-left: 3rem;
        padding-top: 1rem;
    }

    &__header_p {
        margin-top: -2.5rem;
        margin-left: 3.5rem;
        font-size: 1.5rem;
    }

    &__columns,
    &__rows {
        text-align: left;
    }
    &__columns_item{
        padding: 1%;
        font-size: 1rem;
    }

}

.table__columns {
    background-color: $defaultColor_hover;
    color: white;
    font-weight: 600;
    padding: 3%;
}

.table__data {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 400;
    border-bottom: 0.1px solid rgb(236, 233, 233);
    padding: 1rem;
    background-color: white;
}

.table_tags{
    text-align: center  ;
    border:2px solid $defaultColor_hover;
    background-color: $defaultColor;
    width: 40%;
}

.error_input {
    outline: 2px solid red; 
    &::selection{
        background:  2px solid red;
    }
}

.table-container{
    min-height: calc(100vh - 70px); //прижала футер
}

.input{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    // &:focus {
    //     color: #212529;
    //     // background-color: #fff;
    //     // border-color: #bdbdbd;
    //     outline: 0;
    //     box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    // }
}

.error-text {
    color: red;
    font-size: 0.7rem;
}