

.add-table{
    width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
margin: 0.5% auto;
margin-bottom: 2%;
border: 2px solid $defaultColor_hover;
}

.addword-h{
color: $defaultColor_hover;
font-weight: bold;
font-size: 1.5rem;
}



.add_data {
    padding: 0 1rem;
}
