.btn {
    font-size: 1rem;    
    border-radius: 50%;
    color: $lightColor;
    letter-spacing: 0.5px;
    border: none;
    color:white;
    height: 3rem;
    width: 3rem;
    &:hover {
        cursor: pointer;
        transition: background-color 0.4s ease;
        background: $DeleteHover;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }

    &:active {
        color:white;
        background: $rightColorHover;
    }

    &:focus {
        outline: 4px solid $headerground;
    }
    @media screen and (max-width: $tablet) {
        font-size: 0.9rem;
        height: 2.9rem;
        width: 2.9rem;
    }
    @media screen and (max-width: $mobile) {
        font-size: 0.8rem;
        height: 2.5rem;
        width: 2.5rem;
    }
&_edit{
    background: $accentColor_hover ;
    margin: 0rem 1rem;

    &:hover {
        background-color: $darkYelow;
    }

}
&_del{
    background: $DeleteColor ;
    margin: 0rem 1rem;

    &:hover {
        color:white;
        background-color: $DeleteHover;
    }

}
&_save{
    font-size: 0.8rem;
    background: $rightColor;
    margin: 0rem 1rem;
    &:hover {
        color:white ;
        background: $rightColorHover;
    }

    &:disabled {
        background: gray;
    }
    
    }


&_cancel{
    font-size: 0.8rem;
margin: 0rem 1rem;
}     
}

.button_container{
    display: inline-block;
    max-width: 100%;
}