.error-page {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
height: 80vh;
left: 30%;
top: 50vh;
font-size: 2.5rem;}

.error-link {
  color: black;
  font-weight: bold;
  font-size: 2rem;
&:hover {
  color: $defaultColorHoverWord;
  font-size: 2.5rem;
}
}