.header {
    display: flex;
    justify-content: left;
    padding: 1rem;
    align-items: center;
    background-color:$headerground; 
    text-align: center;
    font-size:2rem;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 1000;
    
    @media screen and (max-width: $tablet) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: $mobile) {
        font-size: 1.3rem;
    }
}

.logoImg {
    max-width: 100px;
}

.notActivLink {
    margin: 1rem;
    color: white;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.active{
    color: black;
    transform: scale(1.1);
}