.slider-wrapper{
    display: inline-flex;
    align-items: center;
}

.title-learning{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.slider {
    min-height: calc(100vh - 180px);
    height: 100%;
    padding-bottom: 2rem;
}