.slider-wrapper{
    display: inline-flex;
    align-items: center;
}

.title-learning{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4rem;
    @media screen and (max-width: $tablet) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: $mobile) {
        font-size: 1.3rem;
    }
}

.slider {
    min-height: calc(100vh - 180px);
    height: 100%;
    padding-bottom: 2rem;
}