@import './Color';
@import './Sizes';
@import './Font';
@import './CardWord';
@import './Footer';
@import './Header';
@import './TableWords';
@import './Slider';
@import './Error';
@import './AddWords';
@import './Button';


body{
    font-family: $defaultFont
}

.spinLoading{
    margin: 30vh 45vw;
    text-align: center;
    font-size: 3rem;
    color: $headerground;
}